## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
nombres_ciudades=["Tokio","Shangai","Londres","Buenos Aires","México"]
print(nombres_ciudades)

['Tokio', 'Shangai', 'Londres', 'Buenos Aires', 'México']

2) Imprimir por pantalla el segundo elemento de la lista

In [12]:
print(nombres_ciudades[1])

Shangai

3) Imprimir por pantalla del segundo al cuarto elemento

In [13]:
nombres_ciudades[1:4]

['Shangai', 'Londres', 'Buenos Aires']

4) Visualizar el tipo de dato de la lista

In [8]:
type(nombres_ciudades)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [10]:
nombres_ciudades[2:]

['Londres', 'Buenos Aires', 'México']

6) Visualizar los primeros 4 elementos de la lista

In [16]:
print(nombres_ciudades[:4])

['Tokio', 'Shangai', 'Londres', 'Buenos Aires']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [25]:
# NO
nombres_ciudades.append("Tokio")
nombres_ciudades.append("Berlín")
print(nombres_ciudades)

['Tokio', 'Shangai', 'Londres', 'Buenos Aires', 'México', 'Tokio', 'Berlín']

8) Agregar otra ciudad, pero en la cuarta posición

In [26]:
nombres_ciudades.insert(3,"Estambul")
print(nombres_ciudades)

['Tokio', 'Shangai', 'Londres', 'Estambul', 'Buenos Aires', 'México', 'Tokio', 'Berlín']

9) Concatenar otra lista a la ya creada

In [27]:
mas_ciudades=["Viena","Milán"]
nombres_ciudades.extend(mas_ciudades)
print(nombres_ciudades)

['Tokio', 'Shangai', 'Londres', 'Estambul', 'Buenos Aires', 'México', 'Tokio', 'Berlín', 'Viena', 'Milán']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [28]:
print(nombres_ciudades.index("Tokio"))
#Encuentra la primera

0

11) ¿Qué pasa si se busca un elemento que no existe?

In [29]:
print(nombres_ciudades.index("Brucelas"))

ValueError: 'Brucelas' is not in list

12) Eliminar un elemento de la lista

In [30]:
nombres_ciudades.remove("Londres")
print(nombres_ciudades)

['Tokio', 'Shangai', 'Estambul', 'Buenos Aires', 'México', 'Tokio', 'Berlín', 'Viena', 'Milán']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [31]:
nombres_ciudades.remove("katar")

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [32]:
ultimo=nombres_ciudades.pop()
print(ultimo)

Milán

15) Mostrar la lista multiplicada por 4

In [36]:
print(nombres_ciudades*4)

['Tokio', 'Shangai', 'Estambul', 'Buenos Aires', 'México', 'Tokio', 'Berlín', 'Viena', 'Tokio', 'Shangai', 'Estambul', 'Buenos Aires', 'México', 'Tokio', 'Berlín', 'Viena', 'Tokio', 'Shangai', 'Estambul', 'Buenos Aires', 'México', 'Tokio', 'Berlín', 'Viena', 'Tokio', 'Shangai', 'Estambul', 'Buenos Aires', 'México', 'Tokio', 'Berlín', 'Viena']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [47]:
mitupla=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(mitupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [38]:
print(mitupla[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [41]:
print(20 in mitupla)
print(30 in mitupla)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [44]:
list=["Milán"]
elemento="Paris"
if "Paris" in list:
    print(f"Ya existe el elemento {elemento} ")
else:
    list.append(elemento)
    print(f"Se agregó el elemento {elemento}")

Se agregó el elemento Paris

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [53]:
print(mitupla.count(12))
print(nombres_ciudades.count('Tokio'))

1
2

21) Convertir la tupla en una lista

In [59]:
lista2=list(mitupla)

TypeError: 'list' object is not callable

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [63]:
a,b,c,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_=mitupla
print(a)
print(b)
print(c)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [64]:
d={"ciudad":nombres_ciudades,
"Pais":["Japon","China","Inglaterra","Argentina","Estados Unidos Mexicanos"],
"Continente":["Asia","Asia","Europa","America","America"]}
print(d)

{'ciudad': ['Tokio', 'Shangai', 'Estambul', 'Buenos Aires', 'México', 'Tokio', 'Berlín', 'Viena'], 'Pais': ['Japon', 'China', 'Inglaterra', 'Argentina', 'Estados Unidos Mexicanos'], 'Continente': ['Asia', 'Asia', 'Europa', 'America', 'America']}

24) Imprimir las claves del diccionario

In [65]:
d.keys()

dict_keys(['ciudad', 'Pais', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [68]:
print(d["ciudad"])

['Tokio', 'Shangai', 'Estambul', 'Buenos Aires', 'México', 'Tokio', 'Berlín', 'Viena']